﻿<!-- START Off Sidebar (right)-->
<nav>
    <uib-tabset justified="true">
        <uib-tab>
            <uib-tab-heading>
                <div>
                   Opções do Sistema
                </div>
            </uib-tab-heading>
            <div>
                <div ng-include="'app/views/partials/offsidebar-tab2.html'"></div>
            </div>
        </uib-tab>
    </uib-tabset>
</nav>
<!-- END Off Sidebar (right)-->