﻿<h3>Grupos</h3>
<toaster-container toaster-options="{'position-class': 'toast-bottom-center', 'close-button':true}"></toaster-container>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-13">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">
                        <em class="fa icon-plus fa-lg"></em> Novo
                    </button>

                </div>
            </div>
        </div>

    </div>

    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="form-control form-control-rounded" ng-model="searchText" placeholder="Consultar" type="text" />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>
                            <span>Nome</span>
                        </th>
                        <th>
                            <span>Descrição</span>
                        </th>
                        <th>
                            <span>Data de cadastro</span>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr  dir-paginate="grup in grupos | filter:searchTex | itemsPerPage: 5 track by $index">
                        <td>{{grup.Nome}}</td>
                        <td>{{grup.Descricao}}</td>
                        <td>{{grup.DataDeCadastro}}</td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-primary btn-justify" data-ng-click="permissoes(grup)">
                                <em class="fa fa-unlock-alt fa-lg"></em> Permissões
                            </button>
                        </td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-info btn-justify" data-ng-click="membros(grup)">
                                <em class="fa fa-users fa-lg"></em> Membros
                            </button>
                        </td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-green btn-justify" data-ng-click="editar(grup)">
                                <em class="fa fa-edit fa-lg"></em> Editar
                            </button>
                        </td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-danger btn-justify" data-ng-click="deletar(grup)">
                                <em class="fa fa-trash fa-lg"></em> Remover
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<!--MODAL-->
<script type="text/ng-template" id="modalGrupo">
    <div>
        <form role="form" name="formCliente" ng-submit="salvar()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">{{tituloModal}}</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Nome</label>
                            <input type="text" required="required" class="form-control" data-ng-model="grupo.Nome" placeholder="Nome">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Descrição</label>
                            <input type="text" required="required" class="form-control" data-ng-model="grupo.Descricao" placeholder="Descrição">
                        </div>
                    </div>                   
                </div>                
            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</script>
<!--MODAL-->
