<style>
    body {
        background-color:  #FFFFFF;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    . input-login {
        background-color: transparent !important;
        border: 1px solid #095CA0 !important;
    }
</style>

<div class="block-center mt-xl wd-xl" ng-controller="loginController as login" style="border:1px solid #095CA0;border-radius:20px">
    <!-- START panel-->

    <div class="panel-heading text-center">
       <img class="block-center img-rounded" src="../app/img/logo-rhopen.jpg" style="width: 140px" alt="Image" />
       <!--  <p class="text-center pv" style="font-weight: 300; font-size: 30px; color: #FFF">TESTE</p>-->
    </div>

    <div class="panel panel-dark panel-flat" style="background-color: transparent">

        <div class="panel-body">

            <form class="form-validate mb-lg" role="form" ng-submit="login()" name="login.loginForm" parsley-validate="">

                <div class="clearfix form-group has-feedback" >
                    
                    <input class="form-control input-login"   style="background-color:transparent;color:#095CA0; border: 1px solid #095CA0; border-radius: 15px; font-size: 16px; height: 45px" id="exampleInputEmail1" type="text" name="account_email" placeholder="Login" autocomplete="off"   ng-model="loginData.userName" required />
                    <span class="fa fa-user form-control-feedback text-muted"></span>
                </div>


                <div class="form-group has-feedback">
                    <input class="form-control input-login"   style="background-color: transparent; color: #095CA0; border: 1px solid #095CA0; border-radius: 15px; font-size: 16px; height: 45px" id="exampleInputPassword1" type="password" name="account_password" placeholder="Senha" ng-model="loginData.password"/>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <a class="text-muted" style="color: #095CA0" ui-sref="page.recover">Esqueceu sua senha?</a>
                    </div>
                </div>
                <button class="btn btn-block btn-success mt-lg" style="border-radius: 15px; font-size: 16px" type="submit">Autenticar</button>
            </form>

        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center" style="color: #FFF">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <br />
        <img src="{{app.logoGlobalsys}}" href="http://www.globalsys.com.br" target="_blank" />
    </div>
</div>
<!--MODAL-->
<script type="text/ng-template" id="modalPrimeiroAcesso">
    <div>
        <form role="form" name="formPrimeiroAcesso" ng-submit="registrarPrimeiroAcesso()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">Primeiro Acesso</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Login</label>
                            <input type="login" required="required" class="form-control" data-ng-model="usuario.Login" placeholder="Email" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Email</label>
                            <input type="email" required="required" class="form-control" data-ng-model="usuario.Email" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>CPF</label>
                            <input type="text" required="required" class="form-control" data-ng-model="usuario.Pessoa.CPF" placeholder="CPF" ui-br-cpf-mask>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Senha</label>
                            <input type="password" required="required" class="form-control" data-ng-model="usuario.Senha" placeholder="Digite sua Senha">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Confirmação de Senha</label>
                            <input type="password" required="required" class="form-control" data-ng-model="usuario.ConfirmacaoSenha" placeholder="Confirmacao de Senha">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Confirmar Dados</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</script>