<style>
    .badge1 {
        position: relative;
    }

        .badge1[data-badge]:after {
            content: attr(data-badge);
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: .7em;
            background: blue;
            color: white;
            width: 18px;
            height: 18px;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            box-shadow: 0 0 1px #333;
        }

    .scrolly {
        height: 0 auto;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;
        white-space: nowrap;
    }
</style>

<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <img class="img-responsive" src="app/img/logo-single.png" alt="RHOpen" />
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-responsive" src="app/img/logo-single.png" alt="RHOpen" />
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <!--<a class="nav navbar-nav navbar-left" href="" trigger-resize="" ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" ng-if="!app.layout.isCollapsedText">
                    <em class="fa fa-navicon"></em>
                    <li>
                </a>-->
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a class="visible-xs sidebar-toggle" href="" ng-click="app.asideToggled = !app.asideToggled">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
        </ul>
        <!-- END Left navbar-->
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right"  ng-init="inicializarHub()">
            <!-- Search icon-->
            <!--<li ng-controller="usuarioController" ng-init="obterNomeDoUsuarioLogado()">
                <a style="color:white;"> <div class="pull-left" style="margin-top:-5px;"></div> &nbsp; <b class="ng-binding">{{nomeusuario}}</b></a>
            </li>-->
           <li>
                 <a href="" ng-click="app.offsidebarOpen = !app.offsidebarOpen">
                     <em class="icon-menu"></em>
                 </a>
             </li>
        </ul>
    </div>
    <!-- END Nav wrapper-->
    <!-- START Search form-->
    <!-- END Search form-->
</nav>
<!-- END Top Navbar-->