﻿<h3>Área</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-13">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">
                        <em class="fa icon-plus fa-lg"></em> Novo
                    </button>

                </div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="col-sm-12">
                    <form role="form">
                        <input class="form-control form-control-rounded" ng-model="searchText" placeholder="Consultar" type="text" />
                    </form>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <table  border="0" class="table table-striped table-hover" ng-init="consultar()">
                <thead>
                    <tr>

                        <th width="15%">

                            <span>Nome</span>
                        </th>

                        <th width="15%">
                            <span>Cliente</span>
                        </th>
                        <th width="20%">
                            <span>Identificador</span>
                        </th>
                        <th width="10%" align="left">
                            <span>Grau	de	urgência</span>
                        </th>
                        <th width="20%" align="center">
                            Data de cadastro
                        </th>
                        <th width="10%"></th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="ar in areas | filter:searchText | itemsPerPage: 5 track by $index">
                        <td width="15%">{{ar.Nome}}</td>
                        <td width="15%">{{ar.NomeCliente}}</td>
                        <td width="20%">{{ar.Identificacao}}</td>
                        <td width="20%" align="left">{{ar.GrauUrgenciaFormatado}}</td>
                        <td width="10%" align="left">{{ar.DataCadastroFormaado}}</td>
                        <td width="10%">
                            <button type="button" class="mb-sm btn btn-green btn-justify" data-ng-click="editar(ar)">
                                <em class="fa fa-edit fa-lg"></em> Editar
                            </button>
                        </td>
                        <td width="10%">
                            <button type="button" class="mb-sm btn btn-danger btn-justify" data-ng-click="deletar(ar)">
                                <em class="fa fa-trash fa-lg"></em> Remover
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="other-controller">

                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<!--MODAL-->
<script type="text/ng-template" id="modalAreas">
    <div>
        <form role="form" name="formCliente" ng-submit="salvar()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">{{tituloModal}}</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Nome</label>
                            <input type="text" required="required" class="form-control" data-ng-model="area.Nome" placeholder="Nome">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Identificador</label>
                            <input type="text" required="required" class="form-control" data-ng-model="area.Identificacao" placeholder="Identificador">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Grau	de	urgência</label>
                            <select ng-init="consultarGraudDeUrgencia()" required="required" ng-model="area.GrauUrgencia" ng-options="grau.Id as grau.Descricao for grau in grausDeGrauDeUrgencia" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Cliente</label>

                            <select class="chosen-select input-md" chosen="" ng-model="area.Cliente" ng-options="cliente as cliente.NomeFantasia for cliente in clientes" width="'100%'">
                                <option value="">Selecione um cliente</option>
                            </select>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</script>
<!--MODAL-->
