﻿<h3>Contrato</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-13">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">
                        <em class="fa icon-plus fa-lg"></em> Novo
                    </button>

                </div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="col-sm-12">
                    <form role="form">
                        <input class="form-control form-control-rounded" ng-model="searchText" placeholder="Consultar" type="text" />
                    </form>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>Nome</span>
                        </th>
                        <th>
                            <span>Número</span>
                        </th>
                        <th>
                            <span>Critério Medição</span>
                        </th>
                        <th>
                            <span>Empresa</span>
                        </th>
                        <th>
                            <span>Data de Cadastro</span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in contratos | filter:searchText | itemsPerPage: 5 track by $index">
                        <td>{{item.Nome}}</td>
                        <td>{{item.Numero}}</td>
                        <td>{{item.CriterioMedicao}}</td>
                        <td>{{item.NomeEmpresa}}</td>
                        <td>{{item.DataCadastro}}</td>
                        <!--<td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-green btn-justify" data-ng-click="abrirModalTipoEquipamento(item)">
                                <em class="fa fa-bars fa-lg"></em> Tipos de Equipamentos
                            </button>
                        </td>-->
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-green btn-justify" data-ng-click="editar(item)">
                                <em class="fa fa-edit fa-lg"></em> Editar
                            </button>
                        </td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-danger btn-justify" data-ng-click="deletar(item)">
                                <em class="fa fa-trash fa-lg"></em> Remover
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<!--MODAL-->
<script type="text/ng-template" id="modalContrato">
    <div>
        <form role="form" name="formContrato" ng-submit="salvar()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">{{tituloModal}}</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Nome</label>
                            <input type="text" required="required" class="form-control" data-ng-model="contrato.Nome" placeholder="Nome">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Número</label>
                            <input type="text" required="required" class="form-control" data-ng-model="contrato.Numero" placeholder="Número">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Empresa</label>
                            <select class="chosen-select input-md" required chosen="" ng-init="loadEmpresas()" ng-model="contrato.Empresa"
                                    ng-options="empresa.RazaoSocial for empresa in Empresas" width="'100%'">
                                <option value="">Selecione a empresa</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Critérios de Medição</label>
                            <select ng-init="loadCriteriosMedicao()" required="required" ng-model="contrato.CriterioMedicao" ng-options="criterio.Id as criterio.Descricao for criterio in CriteriosMedicao" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</script>
<!--MODAL-->
