﻿<h3>Gestão das solicitações</h3>
<toaster-container toaster-options="{'position-class': 'toast-bottom-center', 'close-button':true}"></toaster-container>
<style type="text/css" media="screen">
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: hidden;
    }

    .circle {
        width: 10px;
        height: 10px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
    }
</style>
<div class="panel-body" id="caledario">
    <form role="form" name="formUpdate" ng-submit="UpdateScheduler()">
        <div class="row">
            <div class="col-sm-7">
                <p>
                    <div class="circle" style="background: #81d4fa"></div>Programada &nbsp;
                    <div class="circle" style="background: #ffd600"></div>Em Programação &nbsp;
                    <div class="circle" style="background: #a5d6a7"></div>Em Atendimento &nbsp;
                    <div class="circle" style="background: #ef9a9a"></div>Cancelada &nbsp;
                    <div class="circle" style="background: #9e9e9e"></div>Finalizada
                </p>
            </div>
            <div class="col-sm-3">
                <div class="form-group mb">
                    <select class="chosen-select input-md" chosen="" ng-init="loadCentroCusto()" ng-change="FilterByEquipment(TipoEquipamentoSelecionado)" ng-model="TipoEquipamentoSelecionado"
                            ng-options="tipo.Descricao for tipo in tiposEquipamentos" width="'100%'">
                        <option value="">Todos Equipamentos</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2" style="text-align: right;">
                <button type="submit">
                    <span class="icon-refresh" />
                    &nbsp;Recarregar
                </button>
            </div>
        </div>
    </form>
    <div style="overflow: scroll; padding-bottom: 15px;">
        <div id="scheduler_here" class="dhx_cal_container" style='width: 100%; height: 60vh;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <!--<div class="dhx_cal_tab" name="day_tab" style="right: 204px;"></div>-->
                <!--<div class="dhx_cal_tab" name="week_tab" style="right: 140px;"></div>-->
                <div class="dhx_cal_tab" name="timeline_tab"></div>
                <!--<div class="dhx_cal_tab" name="month_tab" style="right: 76px;"></div>-->
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
        </div>
    </div>
</div>



<script type="text/ng-template" id="modalGestaoDasSolicitacoes">
    <div>
        <form role="form" name="formGestaoDasSolicitacoes" ng-submit="salvar()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">Detalhes do Agendamento</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Centro de Custo</label>
                            <input type="text" class="form-control" value="{{registro.CentroCusto.NomeCompleto}}" disabled="disabled" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group mb">
                            <label>Área</label>
                            <input type="text" class="form-control" value="{{registro.Area.Nome}}" disabled="disabled" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group mb">
                            <label>Número POS </label>
                            <input type="text" ng-model="registro.NumeroPOS" class="form-control" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group mb">
                            <label>Tipo Equipamento</label>
                            <select class="chosen-select input-md" chosen="" ng-disabled="disableTipoEquipamento" ng-model="registro.TipoEquipamento"
                                    ng-options="tipoequipamento.Nome for tipoequipamento in TipoEquipamentos" width="'100%'">
                                <option value="">Selecione o Tipo do Equipamento</option>
                            </select>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group mb">
                            <label>Implemento</label>
                            <input type="text" class="form-control" value="{{registro.DescricaoImplemento}}" disabled="disabled" />
                            <!--<select ng-disabled="!visibilityDiv || disableImplementos" class="chosen-select input-md" chosen="" ng-model="registro.Implemento"
                                    ng-options="implemento.Descricao for implemento in registro.TipoEquipamento.Implementos" width="'100%'">
                                <option value="">Selecione o Tipo de implemento</option>
                            </select>-->

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group mb">
                            <label>Equipamento </label>
                            <select class="chosen-select input-md" required chosen="" ng-disabled="disableEquipamentos" ng-model="registro.Equipamento"
                                    ng-options="equip.NomeCompleto for equip in equipamentos" width="'100%'">
                                <option value="">Selecione o equipamento</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group mb">
                            <label>Regime</label>
                            <input type="text" class="form-control" value="{{registro.Regime}}" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Motorista </label>
                            <select class="chosen-select input-md" required chosen="" ng-disabled="disableMotorista" ng-model="registro.Motorista"
                                    ng-options="motorista.Nome for motorista in motoristas" width="'100%'">
                                <option value="">Selecione o motorista</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Descrição Serviço</label>
                            <input type="text" class="form-control" value="{{registro.Descricao}}" disabled="disabled" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label>Status:</label>
                        <b>{{registro.Status}}</b>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-validate form-group--float form-group--float-center">
                            <label>Data Início</label>
                            {{registro.DataInicio | date :  "dd/MM/yyyy h:mm"}}

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Data Fim</label>
                            {{registro.DataFim | date :  "dd/MM/yyyy h:mm"}}
                        </div>
                    </div>

                </div>
                <div class="row" ng-if="hideDescricao">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Descricao</label>
                            <input type="text" ng-disable="disableDescricao" class="form-control" data-ng-model="registro.Descricao" placeholder="Descrição">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
                <button ng-if="registro.ImprimirPOS" class="btn btn-oval btn-info" type="button" ng-click="ImprimirPOS()">Imprimir POS</button>
            </div>
        </form>
    </div>
</script>
<!--MODAL-->
