﻿<h3>Solicitação Equipamento</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-13">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">
                        <em class="fa icon-plus fa-lg"></em> Novo
                    </button>

                </div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="col-sm-12">
                    <form role="form">
                        <input class="form-control form-control-rounded" ng-model="searchText" placeholder="Consultar" type="text" />
                    </form>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <table border="0" class="table table-striped table-hover" ng-init="consultar()">
                <thead>
                    <tr>
                        <th>
                            <span>Área</span>
                        </th>
                        <th>
                            <span>Centro de Custo</span>
                        </th>
                        <th>
                            <span>Tipo de Equipamento</span>
                        </th>
                        <th>
                            <span>Descrição</span>
                        </th>
                        <th>
                            <span>Data Solicitação</span>
                        </th>
                        <th>
                            <span>Status</span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="ctReg in registros | filter:searchText | itemsPerPage: 5 track by $index">
                        <td>{{ctReg.Area}}</td>
                        <td>{{ctReg.CentroCusto}}</td>
                        <td>{{ctReg.TipoEquipamento}}</td>
                        <td>{{ctReg.Descricao}}</td>
                        <td>{{ctReg.DataSolicitacao}}</td>
                        <td>{{ctReg.UltimoStatus}}</td>
                        <td>
                            <button type="button" class="mb-sm btn btn-green btn-justify" data-ng-click="detalhar(ctReg)">
                                <em class="fa fa-bars fa-lg"></em> Detalhes
                            </button>
                        </td>
                        <td width="10%">
                            <button type="button" class="mb-sm btn btn-danger btn-justify" data-ng-click="deletar(ctReg)">
                                <em class="fa fa-trash fa-lg"></em> Cancelar
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="other-controller">

                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<!--MODAL-->
<script type="text/ng-template" id="modalSolicitacaoEquipamento">
    <div>
        <form role="form" name="formRegistro" ng-submit="salvar()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">{{tituloModal}}</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Centro de Custo</label>
                            <select class="chosen-select input-md" required chosen="" ng-init="loadCentroCusto()" ng-model="registro.CentroCusto"
                                    ng-options="centrocusto.NomeCompleto for centrocusto in centrosdecusto" width="'100%'">
                                <option value="">Selecione o Centro de Custo</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Área</label>
                            <select class="chosen-select input-md" required chosen="" ng-init="loadAreas()" ng-model="registro.Area"
                                    ng-options="area.Nome for area in areas" width="'100%'">
                                <option value="">Selecione a Área</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group mb">
                            <label>Tipo Equipamento</label>
                            <select class="chosen-select input-md" chosen="" ng-init="loadTipoEquipamento()" ng-model="registro.TipoEquipamento"
                                    ng-options="tipoequipamento.Nome for tipoequipamento in TipoEquipamentos" width="'100%'">
                                <option value="">Selecione o Tipo do Equipamento</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="visibilityDiv">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Tipo Implemento</label>
                            <div style="width: 100%; border-radius: 10px; border: solid 1px #CCC; padding-left: 20px;">
                                <label class="checkbox" ng-repeat="chk in registro.TipoEquipamento.Implementos">
                                    <input type="radio" ng-model="registro.implementoSelecionado" value="{{chk.Codigo}}" name="teste">
                                    {{chk.Descricao}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-validate form-group--float form-group--float-center">
                            <label>Data Início</label>
                            <!--<input type="datetime-local" required="required" class="form-control" data-ng-model="registro.DataInicio" placeholder="Data Início">-->
                            <div class="input-group">
                                <!--<input class="form-control ng-isolate-scope ng-invalid ng-not-empty ng-dirty ng-invalid-date ng-invalid-remove ng-invalid-date-remove ng-touched"-->
                                <input class="form-control"
                                       type="text" required="required" uib-datepicker-popup="{{datePickerDataInicio.format}}" ng-model="registro.DataInicio" is-open="datePickerDataInicio.opened" uib-datepicker-options="datePickerDataInicio.dateOptions"
                                       close-text="Fechar" ng-mousedown="openDataInicio($event)" />
                                <span class="input-group-btn">
                                    <a class="btn btn-default" ng-click="openDataInicio($event)">
                                        <em class="fa fa-calendar"></em>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Hora Início</label>
                            <!--<input type="text" required="required" class="form-control" ng-model="registro.HoraInicio" mask="99:99" />-->
                            <select class="form-control" ng-model="registro.HoraInicio">
                                <option value=""></option>
                                <option>00:00</option>
                                <option>01:00</option>
                                <option>02:00</option>
                                <option>03:00</option>
                                <option>04:00</option>
                                <option>05:00</option>
                                <option>06:00</option>
                                <option>07:00</option>
                                <option>08:00</option>
                                <option>09:00</option>
                                <option>10:00</option>
                                <option>11:00</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:00</option>
                                <option>15:00</option>
                                <option>16:00</option>
                                <option>17:00</option>
                                <option>18:00</option>
                                <option>19:00</option>
                                <option>20:00</option>
                                <option>21:00</option>
                                <option>22:00</option>
                                <option>23:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group mb">
                            <label>Quantidade</label>
                            <input type="number" class="form-control" data-ng-model="registro.Quantidade" placeholder="Quantidade">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group mb">
                            <label>Regime</label>
                            <select class="form-control" ng-model="registro.Regime" ng-init="loadRegime()"
                                    ng-options="regime.Descricao for regime in regimes" width="'100%'"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Data Fim</label>
                            <!--<input type="date" required="required" class="form-control" data-ng-model="registro.DataFim" placeholder="Data Fim">-->
                            <div class="input-group">
                                <input class="form-control" required="required" type="text" uib-datepicker-popup="{{datePickerDataFim.format}}" ng-model="registro.DataFim" is-open="datePickerDataFim.opened" uib-datepicker-options="datePickerDataFim.dateOptions"
                                       close-text="Fechar" ng-mousedown="openDataFim($event)" />
                                <span class="input-group-btn">
                                    <a class="btn btn-default" ng-click="openDataFim($event)">
                                        <em class="fa fa-calendar"></em>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Hora Fim</label>
                            <!--<input type="text" required="required" class="form-control" ng-model="registro.HoraFim" mask="99:99" />-->
                            <select class="form-control" ng-model="registro.HoraFim">
                                <option value=""></option>
                                <option>00:00</option>
                                <option>01:00</option>
                                <option>02:00</option>
                                <option>03:00</option>
                                <option>04:00</option>
                                <option>05:00</option>
                                <option>06:00</option>
                                <option>07:00</option>
                                <option>08:00</option>
                                <option>09:00</option>
                                <option>10:00</option>
                                <option>11:00</option>
                                <option>12:00</option>
                                <option>13:00</option>
                                <option>14:00</option>
                                <option>15:00</option>
                                <option>16:00</option>
                                <option>17:00</option>
                                <option>18:00</option>
                                <option>19:00</option>
                                <option>20:00</option>
                                <option>21:00</option>
                                <option>22:00</option>
                                <option>23:00</option>
                                <option>23:59</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Descricao</label>
                            <input type="text" class="form-control" data-ng-model="registro.Descricao" placeholder="Descrição">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</script>
<!--MODAL-->
<!--Modal Detalhes Solicitação-->
<script type="text/ng-template" id="modalDetalhe">
    <style type="text/css">
        button.accordion {
            /*background-color: #eee;*/
            color: #222;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            transition: 0.4s;
            font-weight: bold;
        }

        button.accordion.active, button.accordion:hover {
            background-color: #ddd;
        }

        div.panel {
            padding: 0 18px;
            background-color: white;
            display: none;
        }

        button.accordion:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #222;
            float: right;
            margin-left: 5px;
        }

        button.accordion.active:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
    </style>
    <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
        <center><h3 class="modal-title">{{tituloModalDetalhe}}</h3></center>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Centro de Custo</label>
                    <input type="text" class="form-control" value="{{registro.CentroCusto}}" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Tipo de Equipamento</label>
                    <input type="text" class="form-control" value="{{registro.TipoEquipamento}}" disabled="disabled" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Implemento</label>
                    <input type="text" class="form-control" value="{{registro.Implemento}}" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Área</label>
                    <input type="text" class="form-control" value="{{registro.Area}}" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Descrição</label>
                    <input type="text" class="form-control" value="{{registro.Descricao}}" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Data Início Atividade</label>
                    <input type="text" class="form-control" value="{{registro.DataInicio}}" disabled="disabled" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Data Fim Atividade</label>
                    <input type="text" class="form-control" value="{{registro.DataFim}}" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Data da Solicitação</label>
                    <input type="text" class="form-control" value="{{registro.DataSolicitacao}}" disabled="disabled" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Regime</label>
                    <input type="text" class="form-control" value="{{registro.Regime}}" disa disabled="disabled" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Quantidade</label>
                    <input type="text" class="form-control" value="{{registro.Quantidade}}" disa disabled="disabled" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <label>Andamento da Solicitação</label>
                <div style="overflow-y: scroll; max-height: 300px;">
                    <div ng-repeat="item in registro.ListaAlocacao" style="border: 1px solid {{item.StatusLinha}}; margin-bottom: 2px;">
                        <button style="background-color: {{item.StatusLinha}};" class="accordion" title="{{item.UltimoStatus}}">
                            Equipamento: {{item.Equipamento}} <br />
                            Motorista: {{item.Motorista}} <br />
                            Número POS:{{item.POS}} | De: {{item.DataInicio}} Até: {{item.DataFim}}
                        </button>
                        <div class="panel" ng-init="executeScript()">
                            <div class="form-group form-group--float form-group--float-center">
                                <table border="0" class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>Status</span>
                                            </th>
                                            <th>
                                                <span>Data de Registro</span>
                                            </th>
                                            <th>
                                                <span>Usuario Responsável</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="status in item.ListaStatus">
                                            <td>{{status.Status}}</td>
                                            <td>{{status.DataCadastro}}</td>
                                            <td>{{status.UsuarioResponsavel}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-sm-12">
                <div class="form-group form-group--float form-group--float-center">
                    <label>Andamento da Solicitação</label>
                    <table border="0" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    <span>Status</span>
                                </th>
                                <th>
                                    <span>Data de Registro</span>
                                </th>
                                <th>
                                    <span>Usuario Responsável</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in registro.ListaStatus" class="{{item.StatusLinha}}">
                                <td>{{item.Status}}</td>
                                <td>{{item.DataCadastro}}</td>
                                <td>{{item.UsuarioResponsavel}}</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Fechar</button>
    </div>
</script>
<!--Fim Modal Detalhes Solicitação-->
