﻿<h3>Tipos Equipamentos Contrato</h3>
<div class="panel panel-default ng-scope">
    <div class="panel-body">
        <form role="form" name="formMembro" ng-submit="salvar()" parsley-validate="">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Contrato</label>
                            <select ng-init="carregarContratos()" ng-change="carregarDadosContrato(contrato.Codigo)" required="required" ng-model="contrato" ng-options="item.Nome for item in contratos" class="form-control">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Equipamentos Disponíveis</label>
                            <select class="form-control" ng-init="loadTipoEquipamentos()" ng-model="tipoDispo"
                                    multiple style="height:250px;" ng-options="tipoequipamento.Nome for tipoequipamento in TiposEquipamentoDisponiveis"
                                    ng-change="selecionandoEquipamentosDisponiveis(tipoDispo)"></select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group form-group--float form-group--float-center">
                            <br /><br />
                            <button class="btn btn-pill-left btn-danger" ng-click="removeTiposEquipamentoSelecionados()" type="button">Remover</button> <br /><br />
                            <button class="btn btn-pill-right btn-success" ng-click="addTiposEquipamentoSelecionados()" type="button">Adicionar</button>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Equipamentos Selecionados</label>
                            <select class="form-control" multiple style="height:250px;" ng-model="tipoAdd"
                                    ng-options="tipoequipamento.Nome for tipoequipamento in TiposEquipamentoAdicionados"
                                    ng-change="selecionandoEquipamentosJaAdicionados(tipoAdd)"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
