﻿﻿<h3>Tipo de Equipamento</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-13">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">
                        <em class="fa icon-plus fa-lg"></em> Novo
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="col-sm-12">
                    <form role="form">
                        <input class="form-control form-control-rounded" ng-model="searchText" placeholder="Consultar" type="text" />
                    </form>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>Nome</span>
                        </th>
                        <th>
                            <span>Descrição</span>
                        </th>
                        <th>
                            <span>Data Registro</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="tipo in tiposEquipamento | filter:searchText | itemsPerPage: 5 track by $index">
                        <td>{{tipo.Nome}}</td>
                        <td>{{tipo.Descricao}}</td>
                        <td>{{tipo.DataCadastro  | date : 'shortDate'}}</td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-green btn-justify" data-ng-click="editar(tipo)">
                                <em class="fa fa-edit fa-lg"></em> Editar
                            </button>
                        </td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-danger btn-justify" data-ng-click="deletar(tipo)">
                                <em class="fa fa-trash fa-lg"></em> Remover
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
            <div class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<!--MODAL-->
<script type="text/ng-template" id="modalTipoEquipamento">
    <div>
        <form role="form" name="formTipoEquipamento" ng-submit="salvar()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">{{tituloModal}}</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Nome</label>
                            <input type="text" required="required" class="form-control" data-ng-model="tipoEquipamento.Nome" placeholder="Nome">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Descrição</label>
                            <input type="text" required="required" class="form-control" data-ng-model="tipoEquipamento.Descricao" placeholder="Descrição">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <img width="100" height="100" ng-src="{{imageArquivo}}" />
                        </div>
                        <div class="col-sm-8">
                            <label>Imagem</label>
                            <input class="form-control" filestyle="" type="file" ng-model="file" on-file-change="onFilesSelected" data-classbutton="btn btn-default" data-classinput="form-control inline" />

                        </div>
                        <div class="col-sm-1">
                            <button style="margin-top:27px; margin-left:-30px;" class="btn btn-danger" type="button" ng-click="cancel_imagem()">X</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Tipo Implemento</label>
                            <div style="width: 100%; border-radius: 10px; border: solid 1px #CCC; padding-left: 40px;" ng-init="loadImplementos()">
                                <label class="checkbox" ng-repeat="chk in implementos" ng-model="tipoEquipamento.Implementos" >
                                    <input type="checkbox" value="{{chk.Codigo}}" ng-checked="verificaChecados(chk.Codigo)" 
                                           ng-click="toggleSelection(chk.Codigo)">
                                    {{chk.Descricao}}
                                </label>                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                    <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
                </div>
        </form>
    </div>
</script>
<!--MODAL-->
