﻿<h3>Executar Avaliação</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <fieldset>
            <table border="0" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>Nome Cliente</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-control" data-required="true" data-ng-model="registro.Cliente" ng-options="cliente.Nome for cliente in listaClientePF"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Digite o email para confirmar.</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="email" required="required" class="form-control" data-ng-model="usuario.Email" placeholder="Nome">
                        </td>
                    </tr>
                </tbody>
        </table>

    </fieldset>
    </div>
</div>

<!--MODAL-->

<script type="text/ng-template" id="modalTesteAvaliacao">
    <div>

        <form role="form" name="formRegistro" ng-submit="salvar()" parsley-validate="">
            <div class="panel-body" id="bodyelementDiv">
                <fieldset>
                    <table border="0" class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>
                                    <span>Opções</span>
                                </th>
                                <th>
                                    <span>Enunciado</span>
                                </th>

                                <th width="10%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="ctReg in EnunciadoAvaliacao | filter:searchText | itemsPerPage: 5 track by $index">
                                <td><input type="checkbox" /></td>
                                <!--<td>{{ctReg.EnunciadoAvaliacao.enunNome}}</td>-->

                            </tr>
                        </tbody>

                    </table>
                    <div class="other-controller">

                        <div class="text-center">
                            <dir-pagination-controls boundary-links="true" direction-links="forwards" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"  ></dir-pagination-controls>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
</div>
</script>
