<div class="modal-body">
    <button type="button" class="close" ng-controller="sobreController" ng-click="hideModal()" title="Fechar">&times;</button>
    <h5>Sobre o sistema</h5>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d935.1523130853224!2d-40.2961577708316!3d-20.357750299147877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a6ffaa30ef0193e!2sGLOBALSYS!5e0!3m2!1spt-BR!2sbr!4v1489703496295" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>


    <div class="row" style="width: 100%; padding: 15px">
        <div style="text-align: justify">
            <h2><img alt="" src="http://www.globalsys.com.br/v2016/images/restart_logo.png" style="width:90%; " /></h2>
            <p>
                <span style="font-family:arial,helvetica,sans-serif">
                    <span style="font-size:12px">
                        <strong>Endereço: </strong><br />Av. Saturnino Rangel Mauro, n&deg; 400<br />
                        Praia de Itaparica Vila-Velha - ES, Cep: 29102-032<br />
                        <strong>Telefones: </strong><br />(27) 3062-2230 / (27) 3534-4431 / (27) 3062-2277<br />
                        <strong>E-mail:</strong><br /> adm@globalsys.com.br
                    </span>
                </span>
            </p>


        </div>
    </div>
</div>
<div style="clear: both" class="modal-footer">
    <button type="button" class="btn btn-default" ng-controller="sobreController" ng-click="hideModal()">
        Ok
    </button>

</div>