﻿<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
    <center><h3 class="modal-title">Alterar Senha</h3></center>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group--float form-group--float-center">
                <label>Login</label>
                <input type="text" class="form-control" value="{{usuDetalhe.Login}}" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group--float form-group--float-center">
                <label>Senha Antiga</label>
                <input type="password" required" class="form-control" ng-model="usuDetalhe.SenhaAntiga" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group--float form-group--float-center">
                <label>Nova Senha</label>
                <input type="password" class="form-control" ng-model="usuDetalhe.SenhaNova" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group--float form-group--float-center">
                <label>Confirmação de Senha</label>
                <input type="password" class="form-control" ng-model="usuDetalhe.ConfirmacaoSenha" required />
            </div> 
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-oval btn-success" type="button" ng-click="AlterarSenha()">Alterar Senha</button>
    <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Fechar</button>
</div>