﻿<h3>Manter produtos
   <small>globalsys</small>
</h3>


<div class="row">
    <div class="col-lg-12">




        <div class="modal modal-login fade in" id="modalProdutos" data-backdrop="static" data-keyboard="false" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="tab-pane fade active in" id="top-nav-login" role="form" ng-submit="salvar()" parsley-validate="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <center>
                        <h3 style="color:#9C9C9C">Cadastrar produto</h3>
                    </center>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group--float form-group--float-center">
                                        <input type="text" required="required" class="form-control" data-ng-model="produto.Nome" placeholder="Nome">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group--float form-group--float-center">
                                        <label>Descrição</label>
                                        <textarea class="form-control" required="required" data-ng-model="produto.Descricao"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <div class="col-md-12 pull-left">
                                <button class="btn btn-success pull-left" style="text-transform: none !important;" type="submit">Salvar</button>
                                <button class="btn btn-danger pull-left" style="text-transform: none !important;" type="button" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="panel-heading">
            <div class="form-group">
                <div class="col-sm-13">
                    <div class="row">
                        <div class="col-sm-8">
                            <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">Novo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-13">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-13">
                                <form role="form">
                                    <input type="text" class="form-control form-control-rounded pull-left" ng-model="searchText" placeholder="Consultar" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="panel-body" ng-init="consultarDados()">
            <table id="datatable1" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nome
                        </th>
                        <th>Descrição
                        </th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX" data-ng-repeat="item in produtos | filter:searchText">
                        <td width="45%">{{item.Nome}}</td>
                        <td width="45%">{{item.Descricao}}</td>
                        <td width="5%">
                            <button type="button" class="mb-sm btn btn-primary btn-justify" ng-click="editar(item)">
                                Editar
                            </button>
                        </td>
                        <td width="5%">
                            <button type="button" class="mb-sm btn btn-danger btn-justify" ng-click="deletar(item)">
                                Deletar
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<script type="text/ng-template" id="modalProduto.html">
    <div>
        <form role="form" name="formCliente" ng-submit="salvar()" parsley-validate="">
            <input type="hidden" data-ng-model="cliente.Id" />
            <input type="hidden" data-ng-model="cliente.IdUsuario" />
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
               
                <center><h3 class="modal-title" id="myModalLabel">Cadastrar produto</h3></center>
               
            </div>
            <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group--float form-group--float-center">
                                        <input type="text" required="required" class="form-control" data-ng-model="produto.Nome" placeholder="Nome">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-group--float form-group--float-center">
                                        <label>Descrição</label>
                                        <textarea class="form-control" required="required" data-ng-model="produto.Descricao"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

            <div class="modal-footer">
                
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</script>
