﻿<h3>Executar Avaliação</h3>
<div class="panel panel-default">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group form-group--float form-group--float-center">
                        <label>Selecione as opções de sua preferência.</label>
                </div>
             </div>
         </div>

     </div>
        <div class="panel-body">
            <fieldset>
                <table border="0" class="table table-striped table-hover">
                    <thead>
                        <tr>

                            <th>
                                <span>Opções</span>
                            </th>
                            <th>
                                <span>Enunciado</span>
                            </th>

                            <th width="10%"></th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="ctReg in EnunciadoAvaliacao | filter:searchText | itemsPerPage: 5 track by $index">
                            <td><input type="checkbox" /></td>
                            <td>{{ctReg.NomeEnunciado}}</td>

                        </tr>
                    </tbody>

                </table>
                <div class="other-controller">

                    <div class="text-center">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <!--MODAL-->
