﻿<!DOCTYPE html>
<html lang="en" data-ng-app="globalsys">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title data-ng-bind="::pageTitle()">Globalsys Soluções em TI </title>
    <!-- Bootstrap styles-->
    <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
    <!-- Application styles-->
    <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
    <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
    <link href="vendor/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <link href="vendor/loader/jquery.loader.css" rel="stylesheet" />
    <!-- Themes-->
    <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>

    <script src="app/js/base.js"></script>
    <script src="app/js/app.js"></script>
    <script src="vendor/angular-local-storage/angular-local-storage.min.js"></script>
    <script src="vendor/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
    <script src="vendor/pagination/dirPagination.js"></script>
    <script src="vendor/timeline/codebase/dhtmlxscheduler.js"></script>
    <link href="vendor/timeline/codebase/dhtmlxscheduler.css" rel="stylesheet" />
    <script src="vendor/timeline/codebase/ext/dhtmlxscheduler_timeline.js"></script>
    <script src="vendor/timeline/codebase/locale/locale_pt.js"></script>
    <!--<script src="vendor/timeline/codebase/ext/dhtmlxscheduler_tooltip.js"></script>-->

    <script src="vendor/signalr/jquery.signalR-2.2.2.min.js"></script>
    <!--IP ou ENDEREÇO DA API-->
    <!--<script src='http://sistemas.globalsys.com.br:8021/signalr/js'></script>-->
    <!--IP ou ENDEREÇO DA API-->
    <script src="globalsys/globalsys.js"></script>

    <script src="vendor/parsleyjs/language/pt-BR.js"></script>
    <script src="vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="vendor/mask/jquery.maskedinput-1.1.4.pack.js"></script>
    <script src="vendor/mask/angular-input-masks.js"></script>

    <script src="vendor/base64/angular-base64.min.js"></script>
    <script src="vendor/chosen_v1.2.0/chosen.jquery.min.js"></script>
    <link href="vendor/chosen_v1.2.0/chosen.min.css" rel="stylesheet" />
    <script src="vendor/angular-chosen-localytics/dist/angular-chosen.js"></script>
    <script src="vendor/desktopify/desktopify/angular-notification.js"></script>
    <script src="vendor/loader/jquery.loader.js"></script>
    <link href="vendor/parsleyjs/dist/parsley.css" rel="stylesheet" />
    <script src="vendor/ng-mask/dist/ngMask.min.js"></script>

    <script src="vendor/jspdf/jspdf.min.js"></script>
    <script src="vendor/jspdf/png.js"></script>
    <script src="vendor/jspdf/zlib.js"></script>
    <!--Provider-->
    <script src="globalsys/services/authInterceptorService.js"></script>
    <script src="globalsys/services/tokensManagerService.js"></script>

    <!--Provider-->
    <!--services-->
    <!--<script src="globalsys/services/oilegas/gestaodassolicitacoesService.js"></script>-->

    <script src="globalsys/services/authService.js"></script>
    <script src="globalsys/services/seguranca/usuarioService.js"></script>
    <script src="globalsys/services/seguranca/grupoService.js"></script>
    <script src="globalsys/services/seguranca/membroService.js"></script>
    <script src="globalsys/services/seguranca/permissoesService.js"></script>
    <script src="globalsys/services/seguranca/permissoesUsuariosService.js"></script>
    <script src="globalsys/services/seguranca/acaoService.js"></script>
    <script src="globalsys/services/seguranca/funcaoService.js"></script>
    <script src="globalsys/services/sistema/logErroService.js"></script>
    <script src="globalsys/services/sistema/auditoriaService.js"></script>
    <script src="globalsys/services/seguranca/colaboradorService.js"></script>
    <!--<script src="globalsys/services/oilegas/tipoEquipamentoService.js"></script>
    <script src="globalsys/services/cadastroinicial/dadosGeraisService.js"></script>
    <script src="globalsys/services/cadastroinicial/gerenciaService.js"></script>
    <script src="globalsys/services/cadastroinicial/empresaService.js"></script>
    
    <script src="globalsys/services/oilegas/areasService.js"></script>
    <script src="globalsys/services/oilegas/equipamentoService.js"></script>
    <script src="globalsys/services/sistema/moduloService.js"></script>
    <script src="globalsys/services/cadastroinicial/centroDeCustoService.js"></script>
    <script src="globalsys/services/oilegas/contratoService.js"></script>-->
    <script src="globalsys/services/sistema/menuService.js"></script>
    <!--<script src="globalsys/services/oilegas/tipoEquipamentoContratoService.js"></script>-->
    <script src="globalsys/services/sistema/permissionService.js"></script>
    <!--<script src="globalsys/services/oilegas/solicitacaoEquipamentoService.js"></script>
    <script src="globalsys/services/oilegas/implementoService.js"></script>
    <script src="globalsys/services/oilegas/regimeService.js"></script>-->

    <script src="globalsys/services/seguranca/grupousuarioService.js"></script>
    <script src="globalsys/services/sistema/categoriaService.js"></script>
    <script src="globalsys/services/sistema/enunciadoService.js"></script>
    <script src="globalsys/services/sistema/enunciadoavaliacaoService.js"></script>
    <script src="globalsys/services/sistema/modeloavaliacaoService.js"></script>
    <script src="globalsys/services/sistema/pessoafisicaService.js"></script>
    <script src="globalsys/services/sistema/pessoajuridicaService.js"></script>
    <script src="globalsys/services/sistema/avaliacaoService.js"></script>
    <script src="globalsys/services/sistema/avaliacaoclienteService.js"></script>
    <script src="globalsys/services/sistema/testeavaliacaoService.js"></script>
    <script src="globalsys/services/sistema/hierarquiaService.js"></script>


    <!--services-->
    <!--controllers-->
    <script src="globalsys/controllers/sistema/logErroController.js"></script>
    <script src="globalsys/controllers/loginController.js"></script>
    <script src="globalsys/controllers/seguranca/usuarioController.js"></script>
    <script src="globalsys/controllers/seguranca/grupoController.js"></script>
    <script src="globalsys/controllers/seguranca/membroController.js"></script>
    <script src="globalsys/controllers/seguranca/pemissoesController.js"></script>
    <script src="globalsys/controllers/seguranca/permissoesUsuariosController.js"></script>
    <script src="globalsys/controllers/sistema/auditoriaController.js"></script>
    <!--<script src="globalsys/controllers/oilegas/tipoEquipamentoController.js"></script>-->
    <script src="globalsys/controllers/cadastroinicial/gerenciaController.js"></script>
    <script src="globalsys/controllers/cadastroinicial/empresaController.js"></script>
    <script src="globalsys/controllers/seguranca/colaboradorController.js"></script>
    <!--<script src="globalsys/controllers/oilegas/areasController.js"></script>
    <script src="globalsys/controllers/oilegas/equipamentoController.js"></script>-->
    <script src="globalsys/controllers/cadastroinicial/centroDeCustoController.js"></script>
    <!--<script src="globalsys/controllers/oilegas/contratoController.js"></script>-->
    <script src="globalsys/controllers/sistema/moduloController.js"></script>
    <!--<script src="globalsys/controllers/oilegas/tipoEquipamentoContratoController.js"></script>-->
    <script src="globalsys/controllers/seguranca/funcaoController.js"></script>
    <!--<script src="globalsys/controllers/oilegas/solicitacaoEquipamentoController.js"></script>-->
    <script src="globalsys/controllers/seguranca/acaoController.js"></script>
    <!--<script src="globalsys/controllers/oilegas/implementoController.js"></script>
    <script src="globalsys/controllers/oilegas/gestaodassolicitacoesController.js"></script>-->
    <script src="globalsys/controllers/sobreController.js"></script>
    <script src="globalsys/controllers/seguranca/trocarSenhaController.js"></script>

    <script src="globalsys/controllers/seguranca/grupousuarioController.js"></script>
    <script src="globalsys/controllers/sistema/categoriaController.js"></script>
    <script src="globalsys/controllers/sistema/enunciadoController.js"></script>
    <script src="globalsys/controllers/sistema/enunciadoavaliacaoController.js"></script>
    <script src="globalsys/controllers/sistema/modeloavaliacaoController.js"></script>
    <script src="globalsys/controllers/sistema/pessoafisicaController.js"></script>
    <script src="globalsys/controllers/sistema/pessoajuridicaController.js"></script>
    <script src="globalsys/controllers/sistema/avaliacaoController.js"></script>
    <script src="globalsys/controllers/sistema/avaliacaoclienteController.js"></script>
    <script src="globalsys/controllers/sistema/testeavaliacaoController.js"></script>
    <script src="globalsys/controllers/sistema/hierarquiaController.js"></script>

    <!--controllers-->


</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled, 'aside-collapsed-text': app.layout.isCollapsedText}">
    <div data-preloader></div>
    <div class="wrapper" data-ui-view="" data-autoscroll="false"></div>

</body>

</html>