﻿<h3>Cadastro de Páginas e Modulos</h3>
<toaster-container toaster-options="{'position-class': 'toast-bottom-center', 'close-button':true}"></toaster-container>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-sm-13">
            <div class="row">
                <div class="col-sm-8">
                    <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">
                        <em class="fa icon-plus fa-lg"></em> Novo
                    </button>

                </div>
            </div>
        </div>

    </div>

    <div class="panel-body">
        <fieldset>
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="form-control form-control-rounded" ng-model="searchText" placeholder="Consultar" type="text" />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <table id="dataFuncao" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>Tipo</span>
                        </th>
                        <th>
                            <span>Nome</span>
                        </th>
                        <th>
                            <span>Descrição</span>
                        </th>
                        <th>
                            <span>Referência</span>
                        </th>
                        <th>
                            <span>Canal</span>
                        </th>
                        <th>
                            <span>Cor</span>
                        </th>
                        <th>
                            <span>Modulo</span>
                        </th>
                        <th>
                            <span>Data Cadastro</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="func in funcoes | filter:searchTex | itemsPerPage: 5 track by $index">
                        <td>{{func.DescTipo}}</td>
                        <!--<td>{{func.Tipo}}</td>-->
                        <td>{{func.Nome}}</td>
                        <td>{{func.Descricao}}</td>
                        <td>{{func.Ref}}</td>
                        <td>{{func.DescCanal}}</td>
                        <td>{{func.Cor}}</td>
                        <td>{{func.NomePai}}</td>
                        <td>{{func.DataDeCadastro}}</td>

                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-green btn-justify" data-ng-click="editar(func)">
                                <em class="fa fa-edit fa-lg"></em> Editar
                            </button>
                        </td>
                        <td style="min-width: 50px; width: 50px;">
                            <button type="button" class="mb-sm btn btn-danger btn-justify" data-ng-click="deletar(func)">
                                <em class="fa fa-trash fa-lg"></em> Remover
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="vendor/pagination/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </fieldset>
    </div>
</div>


<!--MODAL-->
<script type="text/ng-template" id="modalFuncao">
    <div>
        <form role="form" name="formFuncao" ng-submit="salvar()" parsley-validate="">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()" class="close">&times;</button>
                <center><h3 class="modal-title">{{tituloModal}}</h3></center>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Tipo </label>

                            <label data-ng-repeat="tipoFuncao in tiposFuncao" class="radio-inline c-radio">
                                <input id="tipoFuncao" type="radio" ng-model="funcao.Tipo" name="i-radio" value="{{tipoFuncao.Id}}"><span class="fa fa-circle"></span> {{tipoFuncao.Descricao}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Nome</label>
                            <input type="text" required="required" class="form-control" data-ng-model="funcao.Nome" placeholder="Nome">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Descrição</label>
                            <input type="text" required="required" class="form-control" data-ng-model="funcao.Descricao" placeholder="Descrição">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Referência</label>
                            <input type="text" class="form-control" data-ng-model="funcao.Ref" placeholder="Referência">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Canal </label>
                            <!--<select ng-init="loadCanal()" required="required" ng-model="funcao.Canal" ng-options="canalFuncao.Id as canalFuncao.Descricao for canalFuncao in canaisFuncao" class="form-control">-->
                            <select class="form-control" required chosen="" ng-model="funcao.Canal" ng-options="canal.Id as canal.Descricao for canal in canais" width="'100%'">
                                <option value=""></option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Cor</label>
                            <input type="text" class="form-control" data-ng-model="funcao.Cor" placeholder="Cor">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-group--float form-group--float-center">
                            <label>Modulo </label>
                            <select ng-init="loadModulo()" ng-model="funcao.Pai" ng-options="moduloFuncao.Nome for moduloFuncao in funcoesModulos" class="form-control">
                                <option value=""></option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-oval btn-success" type="submit">Salvar</button>
                <button class="btn btn-oval btn-danger" type="button" ng-click="cancel()">Cancelar</button>
            </div>
        </form>
    </div>
</script>
<!--MODAL-->
