﻿<h3>Executar Avaliação</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <fieldset>
            <table border="0" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>Digite seu CPF</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" required="required" class="form-control" data-ng-model="usuario.CPF" placeholder ="CPF" id="CPF" OnKeyPress="formatar('###.###.###-##', this)" ng-blur="loadClientes()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Digite o email para confirmar.</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="email" required="required" class="form-control" data-ng-model="usuario.Email" placeholder="Email" id="emailCandidato" ng-blur="consultarAvaliacao()" >
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button type="button" class="mb-sm btn btn-success" ng-click="abrirModal()">
                                <em class="fa icon-plus fa-lg"></em> Iniciar Teste
                            </button>
                        </td>
                        <td>
                            <button type="button" class="mb-sm btn btn-success" ng-click="testeRelatorio()">
                                <em class="fa icon-plus fa-lg"></em> Teste Relatorio
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </fieldset>
    </div>
</div>

<!--MODAL-->

<script type="text/ng-template" id="modalTesteAvaliacao">
    <div>

        <form role="form" name="formRegistro" ng-submit="salvar()" parsley-validate="">
            <div class="panel-body" id="bodyelementDiv">
                <fieldset>
                    <table border="0" class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>
                                    <span>Opções</span>
                                </th>
                                <th>
                                    <span>Enunciado</span>
                                </th>

                                <th width="10%"></th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="ctReg in listaAvaliacao  |filter:searchText | itemsPerPage: 5 track by $index">
                                <td><input type="checkbox" ng-model="ctReg.Selected"/></td>
                                <td>{{ctReg.nomeEnum}}</td>
                                <td>{{ctReg.codigoEnum}}</td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="other-controller">

                        <div class="text-center">
                            <!--<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)," template-url="vendor/pagination/dirPaginationForwards.tpl.html"></dir-pagination-controls>-->
                            <dir-pagination-controls boundary-links="true"  template-url="vendor/pagination/dirPaginationForwards.tpl.html" on-page-change="updateProgressIcon()"></dir-pagination-controls>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-oval btn-success" type="submit" ng-if="ultimaPaginacao">Finalizar teste</button>
                        
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
</script>

<script>
function formatar(mascara, documento){
  var i = documento.value.length;
  var saida = mascara.substring(0,1);
  var texto = mascara.substring(i)

  if (texto.substring(0,1) != saida){
            documento.value += texto.substring(0,1);
  }

}

</script>